
*{
    margin: 0;
    padding: 0;
}
.projectName{
    padding: 10px;
    background-color: rgb(218, 17, 17);
    width:100vw;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 3px;
    color:white;
    text-transform: uppercase;
    font-size: 20px;
}
body{
    background-color: bisque;
}
.note{
    margin: auto;
    margin-top:2%;
    background-color: aqua;
    width:40vh;
    min-height: 300px;
    padding:3%;
    padding-top:4px;
    margin-bottom: 3%;
}
.noteInput{
    padding:3%;
}
.heading{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: capitalize;
    color: gold;
    letter-spacing: 3px;
   margin-bottom:4%;
    border-bottom: 4px solid white;
    
}
.submit{
    display:block;
    background-color: lightcoral;
    border-radius: 10px;
    padding: 10px;
    width:60%;

}
.submit:hover{
    background-color: coral;
}
textarea{
    padding:10px;
    border-radius: 8px;
    outline: none;
}
.noteop{
    width:20%;
    margin:auto;
    
  border: 3px solid black;
    color :black;
    margin-bottom:10px;
    border-radius: 20px;
    padding:20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;



   
}
.output{
    padding:12%;
    display:flex;
    flex-wrap:wrap;
    background-color: red;
}
.delete{
    margin:5px;
    padding:10px;
    background-color: lightseagreen;
    border-radius:10px;
}
.delete:hover{
    background-color: seagreen ;
}
footer{
    background-color: bisque;
    text-align: center;
    padding:20px;
    width: 100vw;
    
}