*{
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.projName{
    padding: 5px;
    background-color: brown;
    text-align: center;
    color:aliceblue;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-family: 'Courier New', Courier, monospace;

}
body{
    background-color: rgba(0, 255, 255, 0.418);
}
.buttonInput{
    background-color: rgba(11, 197, 135, 0.611);
    padding: 8px;
    border-radius: 10px;
    width: 20%;
    margin-right: 20px;
    margin-bottom:10px;
    
}
.buttonInput:hover{
    background-color: rgba(11, 197, 135, 0.805);
}
.buttonBox{
    padding: 2%;
    max-width:1500px;
    width:50%;

    margin: auto;
    margin-top: 20vh;
   
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
   
}
.title{
    text-transform: uppercase;
    letter-spacing: 2px;
    
    text-align: center;
   padding:0 4%;
    padding-top: 5%;
    margin-bottom: 10px;
}
.box{
    border: 3px solid black;
    box-shadow: 15px gold;
    text-align: center;
    margin:4%;
    height:80%;
    margin-left:15%;
    width:40vw;
    padding-bottom: 6%;
    
}
.you,.result,.computer{
    text-transform: uppercase;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 3px;
    color:black;
    font-size: 20px;
}
.deleteScr{
    background-color: rgba(11, 197, 135, 0.611);
    padding: 8px;
    border-radius: 10px;
    width: 20%;
    margin-right: 20px;
    margin-bottom:10px;
}
footer{
    width:100vw;
    background-color: blueviolet;
    color:white;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 4px;
    padding: 20px;
    position: absolute;
    bottom:0;
}